


.lightest-gray {
    background: #f4f4f4;
  }
      
  .light-gray {
    background: #eaeaea;   
  }

  .light-gray_border {
    border: solid thin #eaeaea;   
  }
  
  .light-gray-font {
    color: #eaeaea;
  }
    
  .dark-gray {
    background: rgba(40, 44, 42, 0.8);
  }
  .dark-gray-font {
    color: #676768;
  }
  
  .wittwer-blue-font {
    color: #00aeef;
  }
  
  .wittwer-blue {
    background: #00aeef;
  }
  
  .lightest-green {
      background: #e7ecea;
  }
  
  .mid-green-font {
    color: #2CC185;
  }
  .mid-green {
    background: #2CC185;
  }
  
  .r-body-gray {
    background: rgb(230, 228, 228);
  } 
  
  .r-alt-dark-gray-font {
    color: #282828;  
  }
  
  .r-alt-dark-gray-background {
    background: #282828;  
  }
  .wittwer_purple_font {
    color: rgba(64,85,189,1);
  }
  
  .wittwer_purple_background {
    background-color: rgba(64,85,189,1);
  }