@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/custom-icons/icomoon.eot?pju5gj');
  src:  url('../fonts/custom-icons/icomoon.eot?pju5gj#iefix') format('embedded-opentype'),
    url('../fonts/custom-icons/icomoon.ttf?pju5gj') format('truetype'),
    url('../fonts/custom-icons/icomoon.woff?pju5gj') format('woff'),
    url('../fonts/custom-icons/icomoon.svg?pju5gj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-customs-icon:before {
  content: "\e900";
}
