
.primary_bg {
  background-color: #ff3343;
}

.primary_font_color {
  color: #ff3343;
}

.mid_gray_bg {
  background-color: #CFD2D2;
}
.mid_gray_font {
  color: #CFD2D2;
}

.light_gray_bg {
  background-color: #F7F7F7;
}
.light_gray_font {
  color: #F7F7F7;
}

.background_2 {
  //background-color: #F3F2F2;
  background-color: #282828;

}
.light_gray_font_2 {
  color: #F3F2F2;
}

.dark_gray_bg {
  background-color: #737473;
}
.dark_gray_font {
  color: darkgray;
}

.dark_gray_bg_2 {
    background-color: #282828;
}
.dark_gray_font_2 {
    color: #282828;
}

.dark_oppacity_a {
  background: rgba(40,44,42,0.7);
}

.dark_oppacity_b {
  background: rgba(40,44,42,0.8);
}


.light_oppacity_a {
  background: rgba(40,44,42,0.5);
}